<div class="container">
  <app-favourite [liked]="liked" (sendLike)="returnLike()"></app-favourite>
  <app-courses></app-courses>
  <button class="btn btn-secondary" (click)="changeColor()">Change Color</button>
  <h1 [class.green]="color">Angular</h1>
  <p>{{ 4.319999 | number:'1.4-4'}}</p>
  <p>{{ 32 | currency:'₦'}}</p>
  <input type="text" [value]="email" class="form-control my-3">
  <p class="p-3 rounded" [style.backgroundColor]="color ? 'skyblue': 'orange'">{{'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia veniam laudantium aliquam perferendis voluptas modi, illo omnis corrupti veritatis ipsum! Numquam sed ex officia magnam magni cupiditate officiis doloribus aliquid.' | summary:44 | titleCase }}</p>
</div>