<div class="container p-5">
  <app-reusable-panel>
    <ng-container id="panel-header">
      <div class="card-header"><strong>Featured</strong></div>
    </ng-container>
    <div id="panel-body">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </app-reusable-panel>

  <app-reusable-panel>
  <div id="panel-header">
    <div class="card-header"><strong>Second Feature</strong></div>
  </div>
  <div id="panel-body">
    <div class="card-body">
      <h5 class="card-title">No noise, no shit</h5>
      <p class="card-text">
        Just doing great things and taking over the land.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</app-reusable-panel>
</div>
